.pagec {
    .boxc {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 240px;
        height: 249px;
        border-radius: 10px;
        background-color: #8D451C;
        padding: 15px;

        box-shadow: 0px 0px 14px 1px #ADADAD40;

    }

    .capy {
        width: 88px;
        height: 33px;
        border-radius: 5px;
        background-color: #FFBF74;
        
    }

    .capy:hover {
        cursor: pointer;
        color: white;
    }

    img {
        height: 114px;
        width: 113px;
    }
}